In [1]:
import pandas as pd

df = pd.read_csv('./anika_cities-Copy1.csv')

df.head()

,Unnamed: 0,city,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median Rent,Cost_of_Living_Index,...,Crime_rate,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Laitude,Longitude,Average_Commute_Time,AQI,Nickname
0,0,https://www.city-data.com/city/Newburgh-New-Yo...,"28,363",+0.4%,27.8,"$38,968","$64,894","$176,678","$1,170.",137.0,...,446.0,"7,421",4.8%,"['Educational services (10.5%)', 'Health care ...","$5,979",41.50 N,74.02 W,25.9 minutes,78.8.,NaN
1,1,https://www.city-data.com/city/Newstead-New-Yo...,"8,594.",+2.3%,43.8,"$58,506","$64,894","$160,600",NaN,100.3,...,NaN,169,4.3%,"['Educational services (10.9%)', 'Construction...","$2,287",43.01 N,78.52 W,24.2 minutes,62.4.,NaN
2,2,https://www.city-data.com/city/Niagara-Falls-N...,"48,460",-12.8%,38.6,"$35,995","$64,894","$76,050",$665.,100.7,...,430.7,"3,448",6.6%,"['Health care (10.4%)', 'Accommodation & food ...","$2,613",43.09 N,79.02 W,19.2 minutes,62.4.,Cataract City
3,3,https://www.city-data.com/city/Niagara-New-Yor...,"8,378.",-6.7%,43.4,"$53,582","$64,894","$115,019",NaN,104.7,...,207.5,892,5.4%,"['Health care (7.6%)', 'Accommodation & food s...","$2,018",43.12 N,78.99 W,17.1 minutes,62.4.,NaN
4,4,https://www.city-data.com/city/North-Amityvill...,"17,862.",+7.8%,34.1,"$73,993","$64,894","$289,866","$1,355.",149.3,...,NaN,"7,343",3.7%,"['Health care (20.6%)', 'Finance & insurance (...","$7,920",40.70 N,73.41 W,25.7 minutes,82.7.,NaN

In [2]:
info = df[df['city'] == 'https://www.city-data.com/city/Newstead-New-York.html']
output = info.to_dict('index')
output[1]

{'Unnamed: 0': 1,
 'city': 'https://www.city-data.com/city/Newstead-New-York.html',
 'population': '8,594.',
 'population_change': '+2.3%',
 'Median_Age': 43.8,
 'Median_Income': '$58,506',
 'per_capita_Income': '$64,894',
 'Median_House_Value': '$160,600',
 'Median Rent': nan,
 'Cost_of_Living_Index': 100.3,
 'Percent_below_Poverty': nan,
 'Crime_rate': nan,
 'Population_Density': '169',
 'Unemployment_rate': '4.3%',
 'Most_Common_Industries': "['Educational services (10.9%)', 'Construction (7.8%)', 'Health care (7.6%)', 'Accommodation & food services (6.8%)', 'Food (5.3%)', 'Public administration (4.9%)', 'Food & beverage stores (3.4%)']",
 'Property_taxes': '$2,287',
 'Laitude': '43.01 N',
 'Longitude': '78.52 W',
 'Average_Commute_Time': '24.2 minutes',
 'AQI': '62.4.',
 'Nickname': nan}

In [7]:
info = df[df['city'].str.contains("New")]
output = info.to_dict('records')
info

,Unnamed: 0,city,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median Rent,Cost_of_Living_Index,...,Crime_rate,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Laitude,Longitude,Average_Commute_Time,AQI,Nickname
0,0,https://www.city-data.com/city/Newburgh-New-Yo...,"28,363",+0.4%,27.8,"$38,968","$64,894","$176,678","$1,170.",137.0,...,446.0,"7,421",4.8%,"['Educational services (10.5%)', 'Health care ...","$5,979",41.50 N,74.02 W,25.9 minutes,78.8.,NaN
1,1,https://www.city-data.com/city/Newstead-New-Yo...,"8,594.",+2.3%,43.8,"$58,506","$64,894","$160,600",NaN,100.3,...,NaN,169,4.3%,"['Educational services (10.9%)', 'Construction...","$2,287",43.01 N,78.52 W,24.2 minutes,62.4.,NaN
2,2,https://www.city-data.com/city/Niagara-Falls-N...,"48,460",-12.8%,38.6,"$35,995","$64,894","$76,050",$665.,100.7,...,430.7,"3,448",6.6%,"['Health care (10.4%)', 'Accommodation & food ...","$2,613",43.09 N,79.02 W,19.2 minutes,62.4.,Cataract City
3,3,https://www.city-data.com/city/Niagara-New-Yor...,"8,378.",-6.7%,43.4,"$53,582","$64,894","$115,019",NaN,104.7,...,207.5,892,5.4%,"['Health care (7.6%)', 'Accommodation & food s...","$2,018",43.12 N,78.99 W,17.1 minutes,62.4.,NaN
4,4,https://www.city-data.com/city/North-Amityvill...,"17,862.",+7.8%,34.1,"$73,993","$64,894","$289,866","$1,355.",149.3,...,NaN,"7,343",3.7%,"['Health care (20.6%)', 'Finance & insurance (...","$7,920",40.70 N,73.41 W,25.7 minutes,82.7.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,1456,https://www.city-data.com/city/New-Baltimore-V...,"8,119.",NaN,40.8,"$98,585","$71,535","$390,100","$2,060.",168.0,...,NaN,NaN,2.8%,NaN,"$4,391",38.77 N,77.73 W,40.4 minutes,49.8.,NaN
1457,1457,https://www.city-data.com/city/Newington-Fores...,"12,442.",NaN,38.7,"$118,279","$71,535","$567,000","$1,974.",167.5,...,NaN,NaN,2.5%,NaN,"$4,903",38.74 N,77.24 W,32.7 minutes,83.3.,NaN
1458,1458,https://www.city-data.com/city/Newington-Virgi...,"12,943.",-34.6%,37.6,"$120,090","$71,535","$490,261","$2,163.",170.1,...,NaN,"1,948",2.5%,"['Public administration (16.2%)', 'Professiona...","$4,691",38.74 N,77.20 W,31.7 minutes,83.3.,NaN
1459,1459,https://www.city-data.com/city/Newport-News-Vi...,"179,388",-0.4%,33.4,"$49,716","$71,535","$192,500",$995.,96.3,...,307.8,"2,627",3.7%,"['Health care (10.1%)', 'Public administration...","$2,118",37.07 N,76.48 W,23.2 minutes,57.2.,NaN
1640,1640,https://www.city-data.com/city/Newcastle-Washi...,"11,681",+51.0%,39.1,"$126,976","$70,979","$788,106","$1,870.",119.8,...,133.9,"2,614",3.6%,"['Transportation equipment (10.2%)', 'Health c...","$7,036",47.53 N,122.17 W,27.0 minutes,85.4.,NaN

In [ ]:
url = 'http://127.0.0.1:5000/data?city=https://www.city-data.com/city/Newburgh-New-York.html'

In [ ]:
# # sample data
# data = {'https://www.city-data.com/city/Newburgh-New-York.html'}

In [ ]:
def set_default(obj):
    if isinstance(obj, set):
        return list(obj)
    raise TypeError

In [ ]:
import requests
import json

data = json.dumps(data, default = set_default)

In [ ]:
send_request = requests.get(url)
print(send_request)

In [ ]:
print(send_request.text)