<a href="https://colab.research.google.com/github/Lambda-School-Labs/juxta-city-data-ds/blob/dash-apps/COVID_19_County_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
source = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/07-27-2020.csv'

In [ ]:
covid19_data = pd.read_csv(source)

In [ ]:
print(covid19_data.shape)
covid19_data

(3931, 14)

         FIPS      Admin2  ... Incidence_Rate Case-Fatality_Ratio
0     45001.0   Abbeville  ...    1108.981938            1.470588
1     22001.0      Acadia  ...    3569.989524            2.844244
2     51001.0    Accomack  ...    3295.581136            1.408451
3     16001.0         Ada  ...    1495.679908            0.652506
4     19001.0       Adair  ...     279.642058            0.000000
...       ...         ...  ...            ...                 ...
3926      NaN         NaN  ...            NaN                 NaN
3927   2070.0  Dillingham  ...      20.341741            0.000000
3928      NaN         NaN  ...            NaN            0.000000
3929  16061.0       Lewis  ...      26.055237            0.000000
3930  41069.0     Wheeler  ...       0.000000                 NaN

[3931 rows x 14 columns]

In [ ]:
covid = covid19_data.copy()
covid.head()

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...    1108.981938            1.470588
1  22001.0     Acadia  ...    3569.989524            2.844244
2  51001.0   Accomack  ...    3295.581136            1.408451
3  16001.0        Ada  ...    1495.679908            0.652506
4  19001.0      Adair  ...     279.642058            0.000000

[5 rows x 14 columns]

In [ ]:
covid = covid.rename(columns={'Province_State': 'State', 'Lat': 'Latitutde', 'Long_': 'Longitude'})
covid.head()

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...    1108.981938            1.470588
1  22001.0     Acadia  ...    3569.989524            2.844244
2  51001.0   Accomack  ...    3295.581136            1.408451
3  16001.0        Ada  ...    1495.679908            0.652506
4  19001.0      Adair  ...     279.642058            0.000000

[5 rows x 14 columns]

In [ ]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3931 entries, 0 to 3930
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3236 non-null   float64
 1   Admin2               3241 non-null   object
 2   State                3763 non-null   object
 3   Country_Region       3931 non-null   object
 4   Last_Update          3931 non-null   object
 5   Latitutde            3853 non-null   float64
 6   Longitude            3853 non-null   float64
 7   Confirmed            3931 non-null   int64
 8   Deaths               3931 non-null   int64
 9   Recovered            3931 non-null   int64
 10  Active               3928 non-null   float64
 11  Combined_Key         3931 non-null   object
 12  Incidence_Rate       3853 non-null   float64
 13  Case-Fatality_Ratio  3880 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 430.1+ KB

In [ ]:
covid_data = covid.copy()

In [ ]:
covid_data['Date'] = covid_data['Last_Update']
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3931 entries, 0 to 3930
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3236 non-null   float64
 1   Admin2               3241 non-null   object
 2   State                3763 non-null   object
 3   Country_Region       3931 non-null   object
 4   Last_Update          3931 non-null   object
 5   Latitutde            3853 non-null   float64
 6   Longitude            3853 non-null   float64
 7   Confirmed            3931 non-null   int64
 8   Deaths               3931 non-null   int64
 9   Recovered            3931 non-null   int64
 10  Active               3928 non-null   float64
 11  Combined_Key         3931 non-null   object
 12  Incidence_Rate       3853 non-null   float64
 13  Case-Fatality_Ratio  3880 non-null   float64
 14  Date                 3931 non-null   object
dtypes: float64(6), int64(3), object(6)
memory usage: 460.8+ KB

In [ ]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])

In [ ]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3931 entries, 0 to 3930
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3236 non-null   float64
 1   Admin2               3241 non-null   object
 2   State                3763 non-null   object
 3   Country_Region       3931 non-null   object
 4   Last_Update          3931 non-null   object
 5   Latitutde            3853 non-null   float64
 6   Longitude            3853 non-null   float64
 7   Confirmed            3931 non-null   int64
 8   Deaths               3931 non-null   int64
 9   Recovered            3931 non-null   int64
 10  Active               3928 non-null   float64
 11  Combined_Key         3931 non-null   object
 12  Incidence_Rate       3853 non-null   float64
 13  Case-Fatality_Ratio  3880 non-null   float64
 14  Date                 3931 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 460.8+ KB

In [ ]:
def rm_time(time):
    return time.strip('"')[:-8]

covid_data['Last_Update'] = covid_data['Last_Update'].apply(rm_time)

In [ ]:
covid_data[]

         FIPS      Admin2  ... Case-Fatality_Ratio                Date
0     45001.0   Abbeville  ...            1.470588 2020-07-28 04:58:43
1     22001.0      Acadia  ...            2.844244 2020-07-28 04:58:43
2     51001.0    Accomack  ...            1.408451 2020-07-28 04:58:43
3     16001.0         Ada  ...            0.652506 2020-07-28 04:58:43
4     19001.0       Adair  ...            0.000000 2020-07-28 04:58:43
...       ...         ...  ...                 ...                 ...
3926      NaN         NaN  ...                 NaN 2020-07-17 22:34:48
3927   2070.0  Dillingham  ...            0.000000 2020-07-17 18:35:12
3928      NaN         NaN  ...            0.000000 2020-07-13 12:34:33
3929  16061.0       Lewis  ...            0.000000 2020-07-10 02:34:22
3930  41069.0     Wheeler  ...                 NaN 2020-07-06 19:33:59

[3931 rows x 15 columns]

In [ ]:
from datetime import date
from datetime import timedelta

today = date.today()
yesterday = today - timedelta(days = 1)
yesterday = yesterday.strftime('%m-%d-%y')

In [ ]:
yesterday

'08-08-20'

In [ ]:
import pandas as pd
from datetime import date
from datetime import timedelta

In [ ]:
covid_url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us'

In [ ]:
today = date.today()
# yesterday = today - timedelta(days = 1)
# yesterday = yesterday.strftime('%m-%d-%y')

In [ ]:
yesterday = (date.today() - timedelta(days=1)).strftime("%m-%d-%Y")

In [ ]:
today = date.today()
yesterday = today - timedelta(days = 2)
yesterday = yesterday.strftime('%m-%d-%y')

In [ ]:
print(yesterday)

08-09-20

In [ ]:
yesterday = (date.today() - timedelta(days=1)).strftime("%m-%d-%Y")

In [ ]:
import pandas as pd
from datetime import date, timedelta
yesterday = (date.today() - timedelta(days=1)).strftime("%m-%d-%Y")
#jhu_filepath = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{yesterday}.csv'
#covid = pd.read_csv(jhu_filepath)
#print(covid.head())

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/08-10-2020.csv')

In [ ]:
df.head()

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...    1365.841725            2.686567
1  22001.0     Acadia  ...    4192.118624            3.267974
2  51001.0   Accomack  ...    3410.075504            1.451906
3  16001.0        Ada  ...    1898.722349            0.907699
4  19001.0      Adair  ...     419.463087            0.000000

[5 rows x 14 columns]

In [ ]:
def remove_last_num(num):
  return num.strip('"')[:-15]

In [ ]:
df['Last_Update'].apply(remove_last_num)

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
3935    2020
3936    2020
3937    2020
3938    2020
3939    2020
Name: Last_Update, Length: 3940, dtype: object

In [ ]:
df['Confirmed'].sort_values()

3939         0
2922         0
754          0
2918         0
2916         0
         ...
3683    302815
3839    328844
3508    524513
3907    563598
3647    628415
Name: Confirmed, Length: 3940, dtype: int64

In [ ]:
!pip install geopandas
!pip install plotly

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.8MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 245kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 46.6MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Installing collected packages: cligj, click-plugins, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)

In [ ]:
import plotly.offline as py
import plotly.graph_objs as graph_objs
import geopandas as gpd
import numpy as np

mapbox_access_token = "pk.eyJ1IjoiamFja3AiLCJhIjoidGpzN0lXVSJ9.7YK6eRwUNFwd3ODZff6JvA"

In [ ]:
dfg = gpd.read_file('https://raw.githubusercontent.com/jackparmer/mapbox-counties/master/us-counties.json')

In [ ]:
dfg['id'] = dfg['id'].apply(lambda x: x.zfill(5))

In [ ]:
dfg.head()

      id     name                                           geometry
0  01001  Autauga  POLYGON ((-86.41179 32.70634, -86.41179 32.410...
1  01003  Baldwin  POLYGON ((-87.76459 31.29877, -87.61671 31.244...
2  01005  Barbour  POLYGON ((-85.35474 32.14769, -85.05350 32.065...
3  01007     Bibb  POLYGON ((-87.06354 33.24856, -87.02520 33.248...
4  01009   Blount  POLYGON ((-86.48846 34.26179, -86.45560 34.261...

In [ ]:
df['Confirmed'].describe()

count      3940.00000
mean       5098.88934
std       26064.43719
min           0.00000
25%          74.00000
50%         303.00000
75%        1408.00000
max      628415.00000
Name: Confirmed, dtype: float64

In [ ]:
df['Confirmed'].isna().any()

False

In [ ]:
BINS = [
    "0-100",
    "100.1-150",
    "150.1-300",
    "300.1-500",
    "500.1-1000",
    "1000.1-1500",
    "1500.1-2000",
    "2000.1-2500",
    "2500.1-5000",
    "5000.1-7500",
    "7500.1-10000",
    "10000.1-20000",
    "20000.1-30000",
    "30000.1-40000",
    "40000.1-50000",
    ">50000.1",
]

In [ ]:
def matchRange(bins):
  if bins in range(0,100):
    return "0-100"
  elif bins in range(101,150):
    return "101-150"
  elif bins in range(151,300):
    return "151-300"
  elif bins in range(301,500):
    return "301-500"
  elif bins in range(501,1000):
    return "501-1000"
  elif bins in range(1001,1500):
    return "1001-1500"
  elif bins in range(1501,2000):
    return "1501-2000"
  elif bins in range(2001,2500):
    return "2001-2500"
  elif bins in range(2501,5000):
    return "2501-5000"
  elif bins in range(5001,7500):
    return "5001-7500"
  elif bins in range(7501,10000):
    return "7501-10000"
  elif bins in range(10001,20000):
    return "10001-20000"
  elif bins in range(20001,30000):
    return "20001-30000"
  elif bins in range(30001,40000):
    return "30001-40000"
  elif bins in range(40001,50000):
    return "40001-50000"
  else:
    return ">50001"

In [ ]:
df['Match_range'] = df['Confirmed'].apply(matchRange)
df

         FIPS      Admin2  ... Case-Fatality_Ratio Match_range
0     45001.0   Abbeville  ...            2.686567     301-500
1     22001.0      Acadia  ...            3.267974   2501-5000
2     51001.0    Accomack  ...            1.451906   1001-1500
3     16001.0         Ada  ...            0.907699  7501-10000
4     19001.0       Adair  ...            0.000000       0-100
...       ...         ...  ...                 ...         ...
3935  90023.0  Unassigned  ...            0.000000       0-100
3936      NaN         NaN  ...                 NaN       0-100
3937      NaN         NaN  ...            0.000000       0-100
3938  16061.0       Lewis  ...            0.000000       0-100
3939  41069.0     Wheeler  ...                 NaN       0-100

[3940 rows x 15 columns]

In [ ]:
bins = sorted(df['Match_range'].unique().tolist())
bins

['0-100',
 '10001-20000',
 '1001-1500',
 '101-150',
 '1501-2000',
 '151-300',
 '20001-30000',
 '2001-2500',
 '2501-5000',
 '30001-40000',
 '301-500',
 '40001-50000',
 '5001-7500',
 '501-1000',
 '7501-10000',
 '>50001']

In [ ]:
covid_df = df.copy()

In [ ]:
Last_Update = sorted(covid_df['Last_Update'].unique().tolist())
Last_Update

['2020-07-06 19:33:59',
 '2020-07-10 02:34:22',
 '2020-07-13 12:34:33',
 '2020-07-17 22:34:48',
 '2020-08-04 12:34:49',
 '2020-08-05 23:35:35',
 '2020-08-10 23:35:06',
 '2020-08-11 03:35:01',
 '2020-08-11 04:35:08']

In [ ]:
for yr in Last_Update:
    df_single_year = covid_df[(covid_df.Last_Update == yr)]
    #merged = dfg.merge(df_single_year, on='FIPS')
    for bin in bins:
        print(yr,bin)
        geo_layer = df_single_year[(df_single_year['Match_range'] == bin)] # geo
        try:
            geo_layer.to_file("{0}/{1}.geojson".format(yr, bin), driver='GeoJSON')
        except:
            print('err')

2020-07-06 19:33:59 0-100
err
2020-07-06 19:33:59 10001-20000
err
2020-07-06 19:33:59 1001-1500
err
2020-07-06 19:33:59 101-150
err
2020-07-06 19:33:59 1501-2000
err
2020-07-06 19:33:59 151-300
err
2020-07-06 19:33:59 20001-30000
err
2020-07-06 19:33:59 2001-2500
err
2020-07-06 19:33:59 2501-5000
err
2020-07-06 19:33:59 30001-40000
err
2020-07-06 19:33:59 301-500
err
2020-07-06 19:33:59 40001-50000
err
2020-07-06 19:33:59 5001-7500
err
2020-07-06 19:33:59 501-1000
err
2020-07-06 19:33:59 7501-10000
err
2020-07-06 19:33:59 >50001
err
2020-07-10 02:34:22 0-100
err
2020-07-10 02:34:22 10001-20000
err
2020-07-10 02:34:22 1001-1500
err
2020-07-10 02:34:22 101-150
err
2020-07-10 02:34:22 1501-2000
err
2020-07-10 02:34:22 151-300
err
2020-07-10 02:34:22 20001-30000
err
2020-07-10 02:34:22 2001-2500
err
2020-07-10 02:34:22 2501-5000
err
2020-07-10 02:34:22 30001-40000
err
2020-07-10 02:34:22 301-500
err
2020-07-10 02:34:22 40001-50000
err
2020-07-10 02:34:22 5001-7500
err
2020-07-10 02:34:22 501-1000
err
2020-07-10 02:34:22 7501-10000
err
2020-07-10 02:34:22 >50001
err
2020-07-13 12:34:33 0-100
err
2020-07-13 12:34:33 10001-20000
err
2020-07-13 12:34:33 1001-1500
err
2020-07-13 12:34:33 101-150
err
2020-07-13 12:34:33 1501-2000
err
2020-07-13 12:34:33 151-300
err
2020-07-13 12:34:33 20001-30000
err
2020-07-13 12:34:33 2001-2500
err
2020-07-13 12:34:33 2501-5000
err
2020-07-13 12:34:33 30001-40000
err
2020-07-13 12:34:33 301-500
err
2020-07-13 12:34:33 40001-50000
err
2020-07-13 12:34:33 5001-7500
err
2020-07-13 12:34:33 501-1000
err
2020-07-13 12:34:33 7501-10000
err
2020-07-13 12:34:33 >50001
err
2020-07-17 22:34:48 0-100
err
2020-07-17 22:34:48 10001-20000
err
2020-07-17 22:34:48 1001-1500
err
2020-07-17 22:34:48 101-150
err
2020-07-17 22:34:48 1501-2000
err
2020-07-17 22:34:48 151-300
err
2020-07-17 22:34:48 20001-30000
err
2020-07-17 22:34:48 2001-2500
err
2020-07-17 22:34:48 2501-5000
err
2020-07-17 22:34:48 30001-40000
err
2020-07-17 22:34:48 301-500
err
2020-07-17 22:34:48 40001-50000
err
2020-07-17 22:34:48 5001-7500
err
2020-07-17 22:34:48 501-1000
err
2020-07-17 22:34:48 7501-10000
err
2020-07-17 22:34:48 >50001
err
2020-08-04 12:34:49 0-100
err
2020-08-04 12:34:49 10001-20000
err
2020-08-04 12:34:49 1001-1500
err
2020-08-04 12:34:49 101-150
err
2020-08-04 12:34:49 1501-2000
err
2020-08-04 12:34:49 151-300
err
2020-08-04 12:34:49 20001-30000
err
2020-08-04 12:34:49 2001-2500
err
2020-08-04 12:34:49 2501-5000
err
2020-08-04 12:34:49 30001-40000
err
2020-08-04 12:34:49 301-500
err
2020-08-04 12:34:49 40001-50000
err
2020-08-04 12:34:49 5001-7500
err
2020-08-04 12:34:49 501-1000
err
2020-08-04 12:34:49 7501-10000
err
2020-08-04 12:34:49 >50001
err
2020-08-05 23:35:35 0-100
err
2020-08-05 23:35:35 10001-20000
err
2020-08-05 23:35:35 1001-1500
err
2020-08-05 23:35:35 101-150
err
2020-08-05 23:35:35 1501-2000
err
2020-08-05 23:35:35 151-300
err
2020-08-05 23:35:35 20001-30000
err
2020-08-05 23:35:35 2001-2500
err
2020-08-05 23:35:35 2501-5000
err
2020-08-05 23:35:35 30001-40000
err
2020-08-05 23:35:35 301-500
err
2020-08-05 23:35:35 40001-50000
err
2020-08-05 23:35:35 5001-7500
err
2020-08-05 23:35:35 501-1000
err
2020-08-05 23:35:35 7501-10000
err
2020-08-05 23:35:35 >50001
err
2020-08-10 23:35:06 0-100
err
2020-08-10 23:35:06 10001-20000
err
2020-08-10 23:35:06 1001-1500
err
2020-08-10 23:35:06 101-150
err
2020-08-10 23:35:06 1501-2000
err
2020-08-10 23:35:06 151-300
err
2020-08-10 23:35:06 20001-30000
err
2020-08-10 23:35:06 2001-2500
err
2020-08-10 23:35:06 2501-5000
err
2020-08-10 23:35:06 30001-40000
err
2020-08-10 23:35:06 301-500
err
2020-08-10 23:35:06 40001-50000
err
2020-08-10 23:35:06 5001-7500
err
2020-08-10 23:35:06 501-1000
err
2020-08-10 23:35:06 7501-10000
err
2020-08-10 23:35:06 >50001
err
2020-08-11 03:35:01 0-100
err
2020-08-11 03:35:01 10001-20000
err
2020-08-11 03:35:01 1001-1500
err
2020-08-11 03:35:01 101-150
err
2020-08-11 03:35:01 1501-2000
err
2020-08-11 03:35:01 151-300
err
2020-08-11 03:35:01 20001-30000
err
2020-08-11 03:35:01 2001-2500
err
2020-08-11 03:35:01 2501-5000
err
2020-08-11 03:35:01 30001-40000
err
2020-08-11 03:35:01 301-500
err
2020-08-11 03:35:01 40001-50000
err
2020-08-11 03:35:01 5001-7500
err
2020-08-11 03:35:01 501-1000
err
2020-08-11 03:35:01 7501-10000
err
2020-08-11 03:35:01 >50001
err
2020-08-11 04:35:08 0-100
err
2020-08-11 04:35:08 10001-20000
err
2020-08-11 04:35:08 1001-1500
err
2020-08-11 04:35:08 101-150
err
2020-08-11 04:35:08 1501-2000
err
2020-08-11 04:35:08 151-300
err
2020-08-11 04:35:08 20001-30000
err
2020-08-11 04:35:08 2001-2500
err
2020-08-11 04:35:08 2501-5000
err
2020-08-11 04:35:08 30001-40000
err
2020-08-11 04:35:08 301-500
err
2020-08-11 04:35:08 40001-50000
err
2020-08-11 04:35:08 5001-7500
err
2020-08-11 04:35:08 501-1000
err
2020-08-11 04:35:08 7501-10000
err
2020-08-11 04:35:08 >50001
err

In [ ]:
dfg2 = dfg.copy()

In [ ]:
dfg2

         id        name                                           geometry
0     01001     Autauga  POLYGON ((-86.41179 32.70634, -86.41179 32.410...
1     01003     Baldwin  POLYGON ((-87.76459 31.29877, -87.61671 31.244...
2     01005     Barbour  POLYGON ((-85.35474 32.14769, -85.05350 32.065...
3     01007        Bibb  POLYGON ((-87.06354 33.24856, -87.02520 33.248...
4     01009      Blount  POLYGON ((-86.48846 34.26179, -86.45560 34.261...
...     ...         ...                                                ...
3103  56037  Sweetwater  POLYGON ((-110.05574 42.26908, -109.04250 42.2...
3104  56039       Teton  POLYGON ((-111.05802 44.66798, -110.37340 44.5...
3105  56041       Uinta  POLYGON ((-111.04706 41.57899, -110.05026 41.5...
3106  56043    Washakie  POLYGON ((-107.14748 44.16410, -107.10914 43.5...
3107  56045      Weston  POLYGON ((-104.39258 44.18053, -104.05301 44.1...

[3108 rows x 3 columns]

In [ ]:
dfg2['name'] = dfg2['name'] + ' County'
dfg2 = dfg2.rename(columns={'name': 'County'})

In [ ]:
covid_df.rename(columns={'Admin2': 'County'}, inplace=True)

In [ ]:
covid_df['County'] = covid_df['County'] + ' County'

In [ ]:
covid_df.head()

      FIPS            County  ... Case-Fatality_Ratio Match_range
0  45001.0  Abbeville County  ...            2.686567     301-500
1  22001.0     Acadia County  ...            3.267974   2501-5000
2  51001.0   Accomack County  ...            1.451906   1001-1500
3  16001.0        Ada County  ...            0.907699  7501-10000
4  19001.0      Adair County  ...            0.000000       0-100

[5 rows x 15 columns]

In [ ]:
merged = dfg2.merge(covid_df, on='County')

In [ ]:
type(merged), type(dfg)

(geopandas.geodataframe.GeoDataFrame, geopandas.geodataframe.GeoDataFrame)

In [ ]:
merged.head()

      id          County  ... Case-Fatality_Ratio  Match_range
0  01001  Autauga County  ...            1.788756    1001-1500
1  01003  Baldwin County  ...            0.684744    2501-5000
2  01003  Baldwin County  ...            3.710752    1001-1500
3  13009  Baldwin County  ...            0.684744    2501-5000
4  13009  Baldwin County  ...            3.710752    1001-1500

[5 rows x 17 columns]

In [ ]:
merged.to_csv('lat_lonCOVID.csv', index=False)

In [ ]:
for bin in bins:
    geo_layer = merged[(merged['Match_range'] == bin)] # geo
    geo_layer.to_file("{0}.geojson".format(bin), driver='GeoJSON')

In [ ]:
data = graph_objs.Data([
    graph_objs.Scattermapbox(
        lat=['45.5017'],
        lon=['-73.5673'],
        mode='markers',        
    )
])

layout = dict(
    height=600,
    autosize=True,
    hovermode='closest',
    margin=dict(t=0,r=0,l=0,b=0),
    mapbox=dict(
        layers=[
            dict(
                sourcetype = 'geojson',
                source = 'https://raw.githubusercontent.com/python-visualization/folium/master/tests/us-counties.json',
                type = 'fill',
                color = 'rgba(163,22,19,0.8)'
            )
        ],
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=27.8,
            lon=-83
        ),
        pitch=0,
        zoom=5.2,
        style='light'        
    )
)    

fig = dict(data=data, layout=layout)

/usr/local/lib/python3.6/dist-packages/plotly/graph_objs/_deprecations.py:40: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [ ]:
py.plot(fig, filename='county-level-choropleths-python.html')

'county-level-choropleths-python.html'

In [ ]:
df_lat_lon = pd.read_csv('us_county_lat_lon.rtf', sep = '\t+', dtype = str, index_col = False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

FileNotFoundError: ignored