In [1]:
import pandas as pd

df = pd.read_csv('./cleanedcitydata.csv')
df.head()

,city,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI
0,"Newburgh, New York",Newburgh,New York,28363,0.4,27.8,38968.0,64894.0,176678.0,1170.0,137.0,31.2,7421.0,4.8,"['Educational services (10.5%)', 'Health care ...",5979.0,41.50,74.02,25.9,788.0
1,"Newstead, New York",Newstead,New York,8594,2.3,43.8,58506.0,64894.0,160600.0,849.0,100.3,14.6,169.0,4.3,"['Educational services (10.9%)', 'Construction...",2287.0,43.01,78.52,24.2,624.0
2,"Niagara Falls, New York",Niagara Falls,New York,48460,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0
3,"Niagara, New York",Niagara,New York,8378,-6.7,43.4,53582.0,64894.0,115019.0,1161.0,104.7,9.9,892.0,5.4,"['Health care (7.6%)', 'Accommodation & food s...",2018.0,43.12,78.99,17.1,624.0
4,"North Amityville, New York",North Amityville,New York,17862,7.8,34.1,73993.0,64894.0,289866.0,1355.0,149.3,8.5,7343.0,3.7,"['Health care (20.6%)', 'Finance & insurance (...",7920.0,40.70,73.41,25.7,827.0

In [2]:
df.columns

Index(['city', 'City_Name', 'state', 'population', 'population_change',
       'Median_Age', 'Median_Income', 'per_capita_Income',
       'Median_House_Value', 'Median_Rent', 'Cost_of_Living_Index',
       'Percent_below_Poverty', 'Population_Density', 'Unemployment_rate',
       'Most_Common_Industries', 'Property_taxes', 'Latitude', 'Longitude',
       'Average_Commute_Time', 'AQI'],
      dtype='object')

In [3]:
df.isnull().sum()

city                      0
City_Name                 0
state                     0
population                0
population_change         0
Median_Age                0
Median_Income             0
per_capita_Income         0
Median_House_Value        0
Median_Rent               0
Cost_of_Living_Index      0
Percent_below_Poverty     0
Population_Density        0
Unemployment_rate         0
Most_Common_Industries    0
Property_taxes            0
Latitude                  0
Longitude                 0
Average_Commute_Time      0
AQI                       0
dtype: int64