In [61]:
import pandas as pd
df = pd.read_csv('heartDisease_data_9001.csv')
df.head()

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease Value,county
0,Niagara Falls,New York,48460.0,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0,1.644172,49.7,20.567890,7.432110,78.77,22.169746,7.830254,43.58,52.33,46.9,6.0,61.2,42.2,12.0,50.0,46.266667,22.666667,52.33,61.183333,45.611667,215.1,Niagara
1,North Tonawanda,New York,30475.0,-8.4,44.3,56169.0,64894.0,122506.0,686.0,101.0,8.8,3017.0,4.3,"['Educational services (10.2%)', 'Health care ...",3979.0,43.04,78.87,21.7,624.0,1.313650,54.7,20.822321,7.177679,78.17,14.655771,15.344229,89.59,52.33,16.4,69.9,60.8,43.0,31.2,50.0,38.033333,50.366667,52.33,76.186667,54.229167,215.1,Niagara
2,Nyack,New York,7040.0,4.5,42.1,65999.0,64894.0,478868.0,1556.0,154.9,13.2,9143.0,3.5,"['Health care (15.1%)', 'Educational services ...",10001.0,41.09,73.92,29.2,101.0,6.011503,4.6,60.857040,-32.857040,0.70,28.291338,1.708662,9.36,97.84,26.4,51.3,4.6,45.2,43.8,50.0,25.400000,48.366667,97.84,4.886667,44.123333,142.9,Rockland
3,Olean,New York,13711.0,-10.7,40.8,42866.0,64894.0,79215.0,605.0,82.4,22.8,2312.0,5.4,"['Health care (13.1%)', 'Educational services ...",3229.0,42.08,78.43,15.7,453.3,0.773006,62.8,19.173183,8.826817,81.90,16.936500,13.063500,79.60,75.77,33.5,15.1,82.9,42.6,17.3,50.0,46.300000,27.466667,75.77,81.466667,57.750833,226.3,Cattaraugus
4,Oneonta,New York,14057.0,5.8,22.1,42781.0,64894.0,157787.0,882.0,88.8,25.6,3207.0,4.6,"['Educational services (25.8%)', 'Accommodatio...",3535.0,42.46,75.06,14.6,643.0,1.459356,52.5,31.495407,-3.495407,46.61,24.739955,5.260045,25.86,49.49,99.4,8.9,76.4,45.5,17.3,50.0,65.800000,25.400000,49.49,49.623333,47.578333,175.9,Otsego

In [67]:
df['county'][df['state']=='New York'].unique().shape

(21,)

In [69]:
for state in sorted(df['state'].unique()):
    print(f"{state}: {df['county'][df['state']==state].unique().shape}")

Alabama: (15,)
Arizona: (10,)
Arkansas: (12,)
California: (46,)
Colorado: (13,)
Connecticut: (6,)
Delaware: (1,)
Georgia: (23,)
Hawaii: (4,)
Illinois: (6,)
Indiana: (1,)
Kansas: (9,)
Louisiana: (22,)
Maryland: (7,)
Massachusetts: (4,)
Michigan: (17,)
Mississippi: (3,)
Montana: (1,)
Nebraska: (4,)
New Hampshire: (5,)
New Jersey: (8,)
New Mexico: (10,)
New York: (21,)
North Dakota: (3,)
Ohio: (2,)
Oklahoma: (12,)
Oregon: (16,)
Pennsylvania: (15,)
Rhode Island: (2,)
South Carolina: (14,)
Tennessee: (8,)
Texas: (57,)
Utah: (4,)
Virginia: (10,)
Washington: (17,)

In [76]:
df['county'][df['state']=='Alabama'].unique()

array(['Tuscaloosa', 'Tallapoosa', 'Covington', 'Escambia', 'Baldwin',
       'Etowah', 'Chilton', 'Cullman', 'Marengo', 'Barbour', 'Mobile',
       'Colbert', 'Dale', 'Autauga', 'Talladega'], dtype=object)

In [117]:
name = df[df['state'] == 'Alabama']
output = name.to_dict('records')
county = [output[i]['county'] for i in list(range(len(output)))]
stats = [output[i]['Heart Disease Value'] for i in list(range(len(output)))]
print(dict(zip(county, stats)))

{'Tuscaloosa': 232.1, 'Tallapoosa': 241.6, 'Covington': 263.4, 'Escambia': 231.3, 'Baldwin': 186.1, 'Etowah': 275.9, 'Chilton': 271.7, 'Cullman': 260.5, 'Marengo': 332.7, 'Barbour': 253.8, 'Mobile': 232.4, 'Colbert': 238.3, 'Dale': 217.8, 'Autauga': 200.1, 'Talladega': 267.4}

In [118]:
df.columns

Index(['City_Name', 'state', 'population', 'population_change', 'Median_Age',
       'Median_Income', 'per_capita_Income', 'Median_House_Value',
       'Median_Rent', 'Cost_of_Living_Index', 'Percent_below_Poverty',
       'Population_Density', 'Unemployment_rate', 'Most_Common_Industries',
       'Property_taxes', 'Latitude', 'Longitude', 'Average_Commute_Time',
       'AQI', 'popden_score', 'popden_norm', 'HDTI', 'HDTIscore',
       'HDTIscorenorm', 'RTI', 'RTIscore', 'RTIscorenorm', 'AQIscore',
       'MedAgescore', 'Povertyscore', 'COLIscore', 'popchangescore',
       'MedIncscore', 'PerCapIncscore', 'PopulationScore', 'EconomyScore',
       'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'Heart Disease Value', 'county'],
      dtype='object')

In [129]:
df['id'] = pd.Series(list(range(len(df['City_Name']))))

In [135]:
from geonamescache import GeonamesCache as geo
import geonamescache as g

In [133]:
dir(g)

['GeonamesCache',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__version__',
 'geonamesdata',
 'json',
 'os']

In [138]:
state_dict = geo.us_states

In [147]:
state_code = list(state_dict.keys())

In [159]:
state_name = []

for state in state_code:
    state_name.append(list(state_dict[state].values())[1])
print(state_name)

['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin', 'West Virginia', 'Wyoming']

In [160]:
print(state_code)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [171]:
code_name = dict(zip(state_name, state_code))

In [202]:
df2 = pd.read_csv('https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv')

In [181]:
l1 = []
for state in df['state']:
    if state in list(code_name.keys()):
        l1.append(code_name[state])
print(set(l1))

{'IN', 'OR', 'UT', 'ND', 'LA', 'TX', 'MS', 'MA', 'WA', 'DE', 'CT', 'NY', 'OK', 'KS', 'OH', 'VA', 'AZ', 'NM', 'GA', 'AR', 'MD', 'CO', 'TN', 'NJ', 'HI', 'AL', 'IL', 'NE', 'RI', 'CA', 'MI', 'SC', 'NH', 'MT', 'PA'}

In [182]:
assert(len(l1)==len(df['state']))

In [203]:
df2['code'] = df2['state']
df2['county'] = df2['name']

In [204]:
df2 = df2.drop(columns=['state', 'name'])

In [205]:
df2[:1]

   fips code         county
0     0  NaN  UNITED STATES

In [214]:
df2['county'] = df2['county'].str.replace(' County', '')

In [216]:
df2[df2['county'] == 'Niagara']

       fips code   county
1893  36063   NY  Niagara

In [217]:
df['code'] = pd.Series(l1)
df[:1]

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease Value,county,id,code
0,Niagara Falls,New York,48460.0,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0,1.644172,49.7,20.56789,7.43211,78.77,22.169746,7.830254,43.58,52.33,46.9,6.0,61.2,42.2,12.0,50.0,46.266667,22.666667,52.33,61.183333,45.611667,215.1,Niagara,0,NY

In [270]:
cleaned = df.merge(df2, how='left', on=['code', 'county'])
print(cleaned.columns)

Index(['City_Name', 'state', 'population', 'population_change', 'Median_Age',
       'Median_Income', 'per_capita_Income', 'Median_House_Value',
       'Median_Rent', 'Cost_of_Living_Index', 'Percent_below_Poverty',
       'Population_Density', 'Unemployment_rate', 'Most_Common_Industries',
       'Property_taxes', 'Latitude', 'Longitude', 'Average_Commute_Time',
       'AQI', 'popden_score', 'popden_norm', 'HDTI', 'HDTIscore',
       'HDTIscorenorm', 'RTI', 'RTIscore', 'RTIscorenorm', 'AQIscore',
       'MedAgescore', 'Povertyscore', 'COLIscore', 'popchangescore',
       'MedIncscore', 'PerCapIncscore', 'PopulationScore', 'EconomyScore',
       'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'Heart Disease Value', 'county', 'id', 'code', 'fips'],
      dtype='object')

In [271]:
r = cleaned['Heart Disease Value'][0]/cleaned['population'][0]
cleaned['Heart Disease Value'][0]/r

48460.0

In [272]:
cleaned['scaled_heart_disease_deaths'] = (cleaned['Heart Disease Value'] / 100000) * cleaned['population']
cleaned['normalized_heart_disease'] = (cleaned['scaled_heart_disease_deaths'] / cleaned['population']) * 100

In [274]:
cleaned[:1]

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease Value,county,id,code,fips,scaled_heart_disease_deaths,normalized_heart_disease
0,Niagara Falls,New York,48460.0,-12.8,38.6,35995.0,64894.0,76050.0,665.0,100.7,27.5,3448.0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",2613.0,43.09,79.02,19.2,624.0,1.644172,49.7,20.56789,7.43211,78.77,22.169746,7.830254,43.58,52.33,46.9,6.0,61.2,42.2,12.0,50.0,46.266667,22.666667,52.33,61.183333,45.611667,215.1,Niagara,0,NY,36063.0,104.23746,0.2151

In [275]:
cleaned.shape

(1145, 46)

In [276]:
cleaned.dropna().shape

(1112, 46)

In [277]:
cleaned.describe()

,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease Value,id,fips,scaled_heart_disease_deaths,normalized_heart_disease
count,1.145000e+03,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1112.000000,1145.000000,1145.000000
mean,4.752845e+04,39.893013,38.413362,67838.215721,65510.236681,325771.932751,1208.140611,106.044629,14.580611,3438.473362,4.342445,3599.750218,37.271249,97.915310,24.913886,569.806463,1.872050,51.837729,33.813770,-5.813770,46.667581,22.152494,7.847506,46.811555,54.043170,49.371266,49.374847,55.458952,49.088821,44.473275,53.154585,50.099272,49.000902,54.043170,49.646029,50.697344,161.204716,572.000000,25215.169964,72.764707,0.161205
std,2.899021e+05,188.735034,6.634498,28989.195817,10002.205241,235058.932157,481.753270,25.306306,9.142488,4155.561578,2.063146,2650.759100,5.291244,20.599535,6.689189,298.078346,3.054441,21.115343,14.680332,14.680332,29.339357,5.156418,5.156418,26.414242,31.171699,27.856524,28.016923,27.842173,8.963730,27.645764,30.794146,11.695048,23.995842,31.171699,21.408295,9.059956,38.259544,330.677335,17538.273163,409.861943,0.038260
min,5.858000e+03,-47.800000,16.100000,19478.000000,43529.000000,27400.000000,393.000000,70.200000,0.700000,6.000000,1.800000,199.000000,19.620000,70.070000,7.500000,101.000000,0.002301,0.000000,10.828349,-104.062835,0.000000,3.274318,-32.809292,0.000000,8.810000,0.000000,0.000000,0.000000,36.300000,4.100000,2.000000,18.733333,2.566667,8.810000,0.243333,20.932500,45.800000,0.000000,1001.000000,3.370422,0.045800
25%,9.212000e+03,1.700000,34.400000,45764.000000,59195.000000,153647.000000,840.000000,86.700000,7.400000,1281.000000,3.300000,1608.000000,33.740000,76.920000,20.000000,172.000000,0.424847,41.100000,22.742193,-13.557173,18.440000,18.618230,5.159027,25.250000,26.370000,24.900000,24.500000,32.200000,44.700000,20.000000,29.000000,41.233333,29.366667,26.370000,34.400000,44.467500,135.500000,286.000000,6073.000000,15.592690,0.135500
50%,1.615000e+04,9.700000,37.900000,62058.000000,69117.000000,245385.000000,1120.000000,95.800000,12.700000,2349.000000,3.800000,2822.000000,37.660000,95.610000,24.600000,649.000000,0.894172,61.000000,29.656431,-1.656431,52.540000,21.714392,8.285608,46.980000,48.590000,51.300000,53.500000,67.800000,46.100000,38.600000,67.000000,49.166667,49.500000,48.590000,51.366667,50.547500,153.800000,572.000000,26065.000000,26.212601,0.153800
75%,3.680200e+04,30.500000,42.400000,81630.000000,71805.000000,420800.000000,1465.000000,121.200000,19.700000,4182.000000,4.700000,4719.000000,41.120000,118.010000,29.500000,808.000000,2.207055,67.700000,41.557173,5.257807,73.330000,24.840973,11.381770,69.480000,96.030000,72.100000,75.100000,78.600000,49.800000,64.600000,76.000000,58.866667,68.666667,96.030000,66.816667,57.015000,179.200000,858.000000,42003.000000,54.661338,0.179200
max,8.622698e+06,4516.100000,76.500000,190942.000000,80776.000000,1000000.000000,4008.000000,199.900000,50.700000,55583.000000,30.000000,11713.000000,48.950000,159.370000,59.800000,1000.000000,41.625000,73.300000,132.062835,17.171651,94.370000,62.809292,26.725682,99.970000,97.840000,100.000000,92.300000,91.800000,100.000000,100.000000,94.000000,89.200000,94.766667,97.840000,88.893333,79.521667,332.700000,1144.000000,53077.000000,11821.718958,0.332700

In [278]:
cleaned[cleaned['scaled_heart_disease_deaths'] > 1000]

,City_Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median_Rent,Cost_of_Living_Index,Percent_below_Poverty,Population_Density,Unemployment_rate,Most_Common_Industries,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,popden_score,popden_norm,HDTI,HDTIscore,HDTIscorenorm,RTI,RTIscore,RTIscorenorm,AQIscore,MedAgescore,Povertyscore,COLIscore,popchangescore,MedIncscore,PerCapIncscore,PopulationScore,EconomyScore,ClimateScore,CostofLivingScore,LivabilityScore,Heart Disease Value,county,id,code,fips,scaled_heart_disease_deaths,normalized_heart_disease
46,Oklahoma City,Oklahoma,643648.0,27.2,34.2,52062.0,50051.0,158200.0,841.0,85.4,15.8,1060.0,3.1,"['Health care (11.7%)', 'Accommodation & food ...",1903.0,35.48,97.53,20.7,848.0,0.187117,70.9,22.796022,5.203978,73.19,19.384580,10.615420,64.23,21.71,73.2,39.9,80.0,49.2,26.5,7.0,64.433333,24.466667,21.71,72.473333,45.770833,207.8,Oklahoma,46,OK,40109.0,1337.500544,0.2078
211,Fort Worth,Texas,874168.0,63.5,32.9,60205.0,59206.0,169400.0,994.0,94.3,12.9,2988.0,3.6,"['Construction (9.9%)', 'Health care (9.4%)', ...",3849.0,32.74,97.33,26.0,672.0,1.291411,55.1,24.116861,3.883139,69.55,19.812308,10.187692,61.17,45.16,79.5,52.7,69.8,55.5,36.2,29.0,63.366667,39.300000,45.16,66.840000,53.666667,159.4,Tarrant,211,TX,48439.0,1393.423792,0.1594
364,Bronx,New York,1383871.0,20.3,31.2,37397.0,64894.0,400300.0,1187.0,177.3,16.3,32928.0,5.7,"['Health care (16.5%)', 'Educational services ...",1425.0,40.85,73.87,42.2,102.0,24.251534,0.0,71.235704,-43.235704,0.05,38.088617,-8.088617,0.08,97.82,86.2,37.8,0.6,48.0,13.0,50.0,44.733333,33.600000,97.82,0.243333,44.099167,193.4,Bronx,364,NY,36005.0,2676.406514,0.1934
397,New York,New York,8622698.0,7.7,36.6,60879.0,64894.0,609500.0,1379.0,162.7,18.0,28429.0,4.2,"['Health care (13.7%)', 'Professional, scienti...",4675.0,40.70,73.92,40.0,930.0,20.801380,0.0,70.742927,-42.742927,0.06,27.181787,2.818213,13.37,13.79,59.4,30.9,2.4,45.8,37.1,50.0,35.066667,39.333333,13.79,5.276667,23.366667,137.1,New York,397,NY,36061.0,11821.718958,0.1371
940,Los Angeles,California,3999759.0,8.3,35.8,60197.0,71805.0,647000.0,1397.0,145.8,17.4,8527.0,4.4,"['Professional, scientific, technical services...",4670.0,34.09,118.38,29.8,137.0,5.539110,6.7,75.460110,-47.460110,0.01,27.848564,2.151436,10.84,97.03,64.2,33.2,8.7,45.9,36.2,76.0,38.933333,48.466667,97.03,6.516667,47.736667,149.3,Los Angeles,940,CA,6037.0,5971.640187,0.1493

In [279]:
cleaned.columns

Index(['City_Name', 'state', 'population', 'population_change', 'Median_Age',
       'Median_Income', 'per_capita_Income', 'Median_House_Value',
       'Median_Rent', 'Cost_of_Living_Index', 'Percent_below_Poverty',
       'Population_Density', 'Unemployment_rate', 'Most_Common_Industries',
       'Property_taxes', 'Latitude', 'Longitude', 'Average_Commute_Time',
       'AQI', 'popden_score', 'popden_norm', 'HDTI', 'HDTIscore',
       'HDTIscorenorm', 'RTI', 'RTIscore', 'RTIscorenorm', 'AQIscore',
       'MedAgescore', 'Povertyscore', 'COLIscore', 'popchangescore',
       'MedIncscore', 'PerCapIncscore', 'PopulationScore', 'EconomyScore',
       'ClimateScore', 'CostofLivingScore', 'LivabilityScore',
       'Heart Disease Value', 'county', 'id', 'code', 'fips',
       'scaled_heart_disease_deaths', 'normalized_heart_disease'],
      dtype='object')

In [280]:
reference = cleaned[['id', 'code', 'fips', 'county', 'City_Name']]
heart = cleaned[['id', 'scaled_heart_disease_deaths', 'normalized_heart_disease']]
location = cleaned[['id', 'Latitude', 'Longitude']]
people_stats = cleaned[['id', 'Median_Age', 'population', 'population_change', 'Population_Density', 'popden_norm']]
economy = cleaned[['id', 'Median_Income', 'per_capita_Income', 'Percent_below_Poverty']]
job = cleaned[['id', 'Unemployment_rate', 'Most_Common_Industries', 'Average_Commute_Time']]
housing = cleaned[['id', 'Median_House_Value', 'Median_Rent', 'Cost_of_Living_Index', 'Property_taxes']]

In [288]:
# reference.to_csv('useful_datasets/reference_data.csv', index=False)

In [290]:
# heart.to_csv('useful_datasets/heart_data.csv', index=False)

In [291]:
# location.to_csv('useful_datasets/location_data.csv', index=False)

In [292]:
# people_stats.to_csv('useful_datasets/people_stats_data.csv', index=False)

In [293]:
# economy.to_csv('useful_datasets/economy_data.csv', index=False)

In [294]:
# job.to_csv('useful_datasets/job_data.csv', index=False)

In [295]:
# housing.to_csv('useful_datasets/housing_data.csv', index=False)