In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# cnty_fips = Federal Information Processing Standard code for county

In [3]:
df = pd.read_csv('./report.csv')
print(df.shape)
print(df.head())

(3226, 4)
   cnty_fips            display_name  Value          theme_range
0       2013  "Aleutians East, (AK)"   -1.0                  NaN
1       2016  "Aleutians West, (AK)"   -1.0                  NaN
2       2020       "Anchorage, (AK)"  125.4   45.8 - 145.3 (616)
3       2050          "Bethel, (AK)"  191.4  190.3 - 224.5 (614)
4       2060     "Bristol Bay, (AK)"   -1.0                  NaN

In [4]:
subset = df[['display_name', 'Value']]

In [5]:
def rm_state(display_name):
    return display_name.strip('"')[:-6]

rm_state(subset['display_name'][0])

'Aleutians East'

In [6]:
def rm_county(display_name):
    return display_name.strip('"')[-4:].strip('()')

rm_county(subset['display_name'][0])

'AK'

In [7]:
subset['county'] = subset['display_name'].apply(rm_state)
subset['state'] = subset['display_name'].apply(rm_county)

/home/jamesjbarciz/anaconda3/envs/Juxta/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
subset.head()

             display_name  Value          county state
0  "Aleutians East, (AK)"   -1.0  Aleutians East    AK
1  "Aleutians West, (AK)"   -1.0  Aleutians West    AK
2       "Anchorage, (AK)"  125.4       Anchorage    AK
3          "Bethel, (AK)"  191.4          Bethel    AK
4     "Bristol Bay, (AK)"   -1.0     Bristol Bay    AK

In [9]:
subset['Value'].describe()

count    3226.000000
mean      177.082238
std        63.318414
min        -1.000000
25%       146.825000
50%       176.050000
75%       210.700000
max       515.400000
Name: Value, dtype: float64

In [10]:
# We are going to replace -1 with 0 as it represents insufficient data
subset['Value'] = subset['Value'].replace(-1, 0)
subset.head()

             display_name  Value          county state
0  "Aleutians East, (AK)"    0.0  Aleutians East    AK
1  "Aleutians West, (AK)"    0.0  Aleutians West    AK
2       "Anchorage, (AK)"  125.4       Anchorage    AK
3          "Bethel, (AK)"  191.4          Bethel    AK
4     "Bristol Bay, (AK)"    0.0     Bristol Bay    AK

In [11]:
subset[subset['county'].str.contains("Dis")]

                      display_name  Value                county state
2783  "District of Columbia, (DC)"  195.7  District of Columbia    DC

In [12]:
final = subset[['Value', 'county', 'state']]
# final.to_csv('heart_data.csv')

In [13]:
import geonamescache

In [14]:
dir(geonamescache)

['GeonamesCache',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__version__',
 'geonamesdata',
 'json',
 'os']

In [15]:
help(geonamescache)

Help on package geonamescache:

NAME
    geonamescache

DESCRIPTION
    geonamescache
    =============

    :copyright: (c) 2018 by Ramiro Gómez.
    :license: ISC, see LICENSE for more details.

PACKAGE CONTENTS
    geonamesdata
    mappers
    mappings

CLASSES
    builtins.object
        GeonamesCache

    class GeonamesCache(builtins.object)
     |  Methods defined here:
     |
     |  get_cities(self)
     |      Get a dictionary of cities keyed by geonameid.
     |
     |  get_cities_by_name(self, name)
     |      Get a list of city dictionaries with the given name.
     |
     |      City names cannot be used as keys, as they are not unique.
     |
     |  get_continents(self)
     |
     |  get_countries(self)
     |
     |  get_countries_by_names(self)
     |
     |  get_dataset_by_key(self, dataset, key)
     |
     |  get_us_counties(self)
     |
     |  get_us_states(self)
     |
     |  get_us_states_by_names(self)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  cities = None
     |
     |  cities_by_names = {}
     |
     |  cities_items = None
     |
     |  continents = None
     |
     |  countries = None
     |
     |  datadir = '/home/jamesjbarciz/anaconda3/envs/Juxta/lib/python3.7/site-...
     |
     |  us_counties = None
     |
     |  us_states = {'AK': {'code': 'AK', 'fips': '02', 'geonameid': 5879092, ...

DATA
    __license__ = 'MIT'
    __title__ = 'geonamescache'

VERSION
    1.1.0

AUTHOR
    Ramiro Gómez

FILE
    /home/jamesjbarciz/anaconda3/envs/Juxta/lib/python3.7/site-packages/geonamescache/__init__.py

In [16]:
dir(geonamescache.geonamesdata)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'us_states']

In [17]:
state_list = list(geonamescache.geonamesdata.us_states.keys())

In [18]:
list(geonamescache.geonamesdata.us_states.values())[0]

{'code': 'AK', 'name': 'Alaska', 'fips': '02', 'geonameid': 5879092}

In [19]:
dir(geonamescache.GeonamesCache())

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_load_data',
 'cities',
 'cities_by_names',
 'cities_items',
 'continents',
 'countries',
 'datadir',
 'get_cities',
 'get_cities_by_name',
 'get_continents',
 'get_countries',
 'get_countries_by_names',
 'get_dataset_by_key',
 'get_us_counties',
 'get_us_states',
 'get_us_states_by_names',
 'us_counties',
 'us_states']

In [35]:
gc = geonamescache.GeonamesCache()
c = gc.get_cities()

cities = [c[key]['name'] for key in list(c.keys())
             if c[key]['countrycode'] == 'US']
state = [c[key]['admin1code'] for key in list(c.keys())
             if c[key]['countrycode'] == 'US']

In [ ]:
[c[key] for key in list(c.keys())
             if c[key]['countrycode'] == 'US']

In [36]:
city = pd.DataFrame({"city": cities, "state": state})

In [21]:
county_names = []
for name in gc.get_us_counties():
    county_names.append(name['name'][:-7])
    
county_states = []
for state in gc.get_us_counties():
    county_states.append(state['state'])

In [37]:
city_state = pd.DataFrame({"county": county_names, "state": county_states})

In [23]:
print(len(cities), len(county_names), len(county_states))

3249 3234 3234

In [24]:
assert(len(county_names)==len(county_states))

In [25]:
city_state.head()

    county state
0  Baldwin    AL
1  Barbour    AL
2     Bibb    AL
3   Blount    AL
4  Bullock    AL

In [ ]:
sorted(city_state['state'].unique())

In [27]:
not_cont_state = ['AS', 'GU', 'MP', 'PR', 'UM']

In [28]:
city_state[city_state['state']=='DC']

            county state
318  District of C    DC

In [42]:
print(city.head())

           city state
0     Fort Hunt    VA
1      Bessemer    AL
2       Paducah    KY
3    Birmingham    AL
4  Center Point    AL

In [63]:
county_state_cleaned = city_state[(city_state['state'] != 'AS') | (city_state['state'] != 'GU')
                                | (city_state['state'] != 'MP') | (city_state['state'] != 'PR')
                                | (city_state['state'] != 'UM')]

In [71]:
print(city.shape, county_state_cleaned.shape, final.shape)

(3249, 2) (3234, 2) (3226, 3)

In [73]:
final.head()

   Value          county state
0    0.0  Aleutians East    AK
1    0.0  Aleutians West    AK
2  125.4       Anchorage    AK
3  191.4          Bethel    AK
4    0.0     Bristol Bay    AK

In [74]:
city_county_merged = county_state_cleaned.merge(city, on='state')

In [77]:
final.merge(city_county_merged, on=['county', 'state'])

        Value    county state              city
0       112.2   Alameda    CA          Fillmore
1       112.2   Alameda    CA          Adelanto
2       112.2   Alameda    CA            Agoura
3       112.2   Alameda    CA      Agoura Hills
4       112.2   Alameda    CA           Alameda
...       ...       ...   ...               ...
246121  183.7  Washburn    WI        West Allis
246122  183.7  Washburn    WI         West Bend
246123  183.7  Washburn    WI            Weston
246124  183.7  Washburn    WI  Wisconsin Rapids
246125  183.7  Washburn    WI    Mount Pleasant

[246126 rows x 4 columns]

In [79]:
final_merged = final.merge(city_county_merged, on=['county', 'state'])

In [80]:
# final_merged.to_csv('city_county_state.csv')

In [81]:
final_merged.isna().sum()

Value     0
county    0
state     0
city      0
dtype: int64