In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('job_data.csv')
df.head()

,id,Unemployment_rate,Most_Common_Industries,Average_Commute_Time
0,0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",19.2
1,1,4.3,"['Educational services (10.2%)', 'Health care ...",21.7
2,2,3.5,"['Health care (15.1%)', 'Educational services ...",29.2
3,3,5.4,"['Health care (13.1%)', 'Educational services ...",15.7
4,4,4.6,"['Educational services (25.8%)', 'Accommodatio...",14.6

In [10]:
max([len(i) for i in df['Most_Common_Industries']])

326

In [35]:
''.join(df['Most_Common_Industries'][0])

"'Health care (10.4%)', 'Accommodation & food services (9.2%)', 'Educational services (8.6%)', 'Construction (4.1%)', 'Chemicals (3.9%)', 'Administrative & support & waste management services (3.8%)', 'Public administration (3.7%)'"

In [42]:
df2 = pd.read_csv('reference_data.csv')
max([len(i) for i in df2['City_Name']])

22