In [1]:
import pandas as pd

In [47]:
import numpy as np

In [2]:
df = pd.read_csv('job_data.csv')
df.head()

,id,Unemployment_rate,Most_Common_Industries,Average_Commute_Time
0,0,6.6,"['Health care (10.4%)', 'Accommodation & food ...",19.2
1,1,4.3,"['Educational services (10.2%)', 'Health care ...",21.7
2,2,3.5,"['Health care (15.1%)', 'Educational services ...",29.2
3,3,5.4,"['Health care (13.1%)', 'Educational services ...",15.7
4,4,4.6,"['Educational services (25.8%)', 'Accommodatio...",14.6

In [10]:
max([len(i) for i in df['Most_Common_Industries']])

326

In [35]:
''.join(df['Most_Common_Industries'][0])

"'Health care (10.4%)', 'Accommodation & food services (9.2%)', 'Educational services (8.6%)', 'Construction (4.1%)', 'Chemicals (3.9%)', 'Administrative & support & waste management services (3.8%)', 'Public administration (3.7%)'"

In [42]:
df2 = pd.read_csv('reference_data.csv')
max([len(i) for i in df2['City_Name']])

22

In [2]:
reference = pd.read_csv('reference_data.csv')
reference.isna().sum()

id            0
code          0
fips         33
county        0
City_Name     0
dtype: int64

In [3]:
reference[reference['fips'].isna()==True]

      id code  fips            county       City_Name
640  640   LA   NaN         Morehouse         Bastrop
641  641   LA   NaN  East Baton Rouge     Baton Rouge
642  642   LA   NaN       Plaquemines    Belle Chasse
643  643   LA   NaN           Bossier    Bossier City
644  644   LA   NaN        St. Martin   Breaux Bridge
645  645   LA   NaN       St. Bernard       Chalmette
646  646   LA   NaN            Acadia         Crowley
647  647   LA   NaN        Livingston  Denham Springs
648  648   LA   NaN       St. Charles       Destrehan
649  649   LA   NaN         Ascension  Donaldsonville
650  650   LA   NaN         Lafourche        Galliano
651  651   LA   NaN         Ascension        Gonzales
652  652   LA   NaN        Terrebonne           Houma
653  653   LA   NaN       St. Tammany         Lacombe
654  654   LA   NaN         Calcasieu    Lake Charles
655  655   LA   NaN         Lafourche          Larose
656  656   LA   NaN       St. Charles          Luling
657  657   LA   NaN       St. Tammany      Mandeville
658  658   LA   NaN      Natchitoches    Natchitoches
659  659   LA   NaN            Iberia      New Iberia
660  660   LA   NaN           Orleans     New Orleans
661  661   LA   NaN        St. Landry       Opelousas
662  662   LA   NaN         Iberville      Plaquemine
663  663   LA   NaN        Tangipahoa     Ponchatoula
664  664   LA   NaN         Ascension    Prairieville
665  665   LA   NaN         Lafourche        Raceland
666  666   LA   NaN            Acadia           Rayne
667  667   LA   NaN        Terrebonne       Schriever
668  668   LA   NaN             Caddo      Shreveport
669  669   LA   NaN       St. Tammany         Slidell
670  670   LA   NaN         Lafourche       Thibodaux
671  671   LA   NaN        Evangeline    Ville Platte
672  672   LA   NaN  East Baton Rouge         Zachary

In [45]:
null_fips = reference[reference['fips'].isna()==True]
sorted(null_fips['county'].unique())

['Acadia',
 'Ascension',
 'Bossier',
 'Caddo',
 'Calcasieu',
 'East Baton Rouge',
 'Evangeline',
 'Iberia',
 'Iberville',
 'Lafourche',
 'Livingston',
 'Morehouse',
 'Natchitoches',
 'Orleans',
 'Plaquemines',
 'St. Bernard',
 'St. Charles',
 'St. Landry',
 'St. Martin',
 'St. Tammany',
 'Tangipahoa',
 'Terrebonne']

In [46]:
county_dict = {
     'Acadia': 22001,
     'Ascension': 22005,
     'Bossier': 22015,
     'Caddo': 22017,
     'Calcasieu': 22019,
     'East Baton Rouge': 22033,
     'Evangeline': 22039,
     'Iberia': 22045,
     'Iberville': 22047,
     'Lafourche': 22057,
     'Livingston': 22063,
     'Morehouse': 22067,
     'Natchitoches': 22069,
     'Orleans': 22071,
     'Plaquemines': 22075,
     'St. Bernard': 22087,
     'St. Charles': 22089,
     'St. Landry': 22097,
     'St. Martin': 22099,
     'St. Tammany': 22103,
     'Tangipahoa': 22105,
     'Terrebonne': 22109
}

In [48]:
county_dict['Acadia']

22001

In [70]:
reference['fips'] = reference['fips'].fillna(reference['county'].map(county_dict)).astype('int64')

In [72]:
# reference.to_csv('reference.csv', index=False)