In [1]:
import pandas as pd

juxta_2 = pd.read_csv('./extraneous_datasets/JuxtaCityData2.csv')
juxta_2.head()

,city,City Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median Rent,...,Property_taxes,Latitude,Longitude,Average_Commute_Time,AQI,Nickname,HDTI,HDTIscore,RTI,RTIscore
0,"Newburgh, New York",Newburgh,New York,28363,0.4,27.8,38968.0,64894.0,176678.0,1170.0,...,5979.0,41.50,74.02,25.9,788.0,NaN,43.902689,-15.902689,36.029563,-6.029563
1,"Newstead, New York",Newstead,New York,8594,2.3,43.8,58506.0,64894.0,160600.0,NaN,...,2287.0,43.01,78.52,24.2,624.0,NaN,21.199948,6.800052,NaN,NaN
2,"Niagara Falls, New York",Niagara Falls,New York,48460,-12.8,38.6,35995.0,64894.0,76050.0,665.0,...,2613.0,43.09,79.02,19.2,624.0,Cataract City,20.567890,7.432110,22.169746,7.830254
3,"Niagara, New York",Niagara,New York,8378,-6.7,43.4,53582.0,64894.0,115019.0,NaN,...,2018.0,43.12,78.99,17.1,624.0,NaN,17.287673,10.712327,NaN,NaN
4,"North Amityville, New York",North Amityville,New York,17862,7.8,34.1,73993.0,64894.0,289866.0,1355.0,...,7920.0,40.70,73.41,25.7,827.0,NaN,35.380030,-7.380030,21.975052,8.024948

In [2]:
# Add a column to the DataFrame representing the indices

juxta_2['id'] = juxta_2.index
juxta_2.head()

,city,City Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,Median Rent,...,Latitude,Longitude,Average_Commute_Time,AQI,Nickname,HDTI,HDTIscore,RTI,RTIscore,id
0,"Newburgh, New York",Newburgh,New York,28363,0.4,27.8,38968.0,64894.0,176678.0,1170.0,...,41.50,74.02,25.9,788.0,NaN,43.902689,-15.902689,36.029563,-6.029563,0
1,"Newstead, New York",Newstead,New York,8594,2.3,43.8,58506.0,64894.0,160600.0,NaN,...,43.01,78.52,24.2,624.0,NaN,21.199948,6.800052,NaN,NaN,1
2,"Niagara Falls, New York",Niagara Falls,New York,48460,-12.8,38.6,35995.0,64894.0,76050.0,665.0,...,43.09,79.02,19.2,624.0,Cataract City,20.567890,7.432110,22.169746,7.830254,2
3,"Niagara, New York",Niagara,New York,8378,-6.7,43.4,53582.0,64894.0,115019.0,NaN,...,43.12,78.99,17.1,624.0,NaN,17.287673,10.712327,NaN,NaN,3
4,"North Amityville, New York",North Amityville,New York,17862,7.8,34.1,73993.0,64894.0,289866.0,1355.0,...,40.70,73.41,25.7,827.0,NaN,35.380030,-7.380030,21.975052,8.024948,4

In [3]:
# The code below will be left for reproducibility

# df.to_csv('JuxtaCityData3.csv', index=False)

In [4]:
# Load in created CSV

juxta_3 = pd.read_csv('./extraneous_datasets/JuxtaCityData3.csv')

In [5]:
# Using a test id to obtain that row in dict format

test_id = 4489
city = juxta_3[juxta_3['id'] == test_id]
output = city.to_dict('records')
print(output)

[{'Unnamed: 0': 4489, 'city': 'Birmingham, Alabama', 'City Name': 'Birmingham', 'state': 'Alabama', 'population': 210710, 'population_change': -13.2, 'Median_Age': 35.8, 'Median_Income': 33553.0, 'per_capita_Income': 48123.0, 'Median_House_Value': 87800.0, 'Median Rent': 790.0, 'Cost_of_Living_Index': 86.7, 'Percent_below_Poverty': 25.4, 'Crime_rate': 876.0, 'Population_Density': 1406.0, 'Unemployment_rate': 4.3, 'Most_Common_Industries': "['Health care (15.3%)', 'Educational services (9.9%)', 'Accommodation & food services (9.1%)', 'Finance & insurance (5.9%)', 'Administrative & support & waste management services (5.5%)', 'Professional, scientific, technical services (5.0%)', 'Construction (4.5%)']", 'Property_taxes': 850.0, 'Latitude': 33.52, 'Longitude': 86.81, 'Average_Commute_Time': 21.6, 'AQI': 828.0, 'Nickname': '\r\nThe Magic City, The Pittsburgh of the South', 'HDTI': 19.01632686046156, 'HDTIscore': 8.983673139538439, 'RTI': 28.25380740917355, 'RTIscore': 1.7461925908264533, 'id': 4489}]

In [6]:
# Obtain value for 'city'

print(output[0]['city'])

Birmingham, Alabama

In [7]:
# Obtain value for 'population'

data = output[0]
population = data['population']
print(f'The population is {population} as of 2017,')

The population is 210710 as of 2017,

In [8]:
# Identifying observations where the 'city' name starts with a given string

test_input = 'Atl'
cities = juxta_3[juxta_3['city'].str.startswith(test_input)]
cities

,Unnamed: 0,city,City Name,state,population,population_change,Median_Age,Median_Income,per_capita_Income,Median_House_Value,...,Latitude,Longitude,Average_Commute_Time,AQI,Nickname,HDTI,HDTIscore,RTI,RTIscore,id
2444,2444,"Atlantic City, New Jersey",Atlantic City,New Jersey,38429,-5.2,36.8,37923.0,80088.0,158655.0,...,39.36,74.44,20.0,615.0,"\r\nA.C, America's Playground",42.327152,-14.327152,26.421960,3.578040,2444
3229,3229,"Atlanta, Georgia",Atlanta,Georgia,486290,16.8,33.3,57597.0,56183.0,299400.0,...,33.76,84.40,25.8,837.0,"\r\nThe City to Busy to Hate, A-Town, The Big ...",38.672666,-10.672666,23.001198,6.998802,3229

In [9]:
# Instantiate an empty list and fill with the subset's indices

indices = []
for index, row in cities.iterrows():
    indices.append(index)
print(indices)

[2444, 3229]