In [2]:
import pandas as pd
import numpy as np

In [3]:
# Column Information:
# cnty_fips = Federal Information Processing Standard code for county
# Value = Heart Disease-related deaths per 100,000 people

In [4]:
county_report = pd.read_csv('..\\src\\extraneous_datasets\\report.csv')
print(county_report.shape)
print('-----------------')
print(county_report.head())

(3226, 4)
-----------------
   cnty_fips            display_name  Value          theme_range
0       2013  "Aleutians East, (AK)"   -1.0                  NaN
1       2016  "Aleutians West, (AK)"   -1.0                  NaN
2       2020       "Anchorage, (AK)"  125.4   45.8 - 145.3 (616)
3       2050          "Bethel, (AK)"  191.4  190.3 - 224.5 (614)
4       2060     "Bristol Bay, (AK)"   -1.0                  NaN

In [5]:
subset = county_report[['display_name', 'Value']]

In [6]:
# Write a function to grab the county name

def rm_state(display_name):
    return display_name.strip('"')[:-6]


rm_state(subset['display_name'][0])

'Aleutians East'

In [7]:
# Write a function to grab the state code (abbrev.)

def rm_county(display_name):
    return display_name.strip('"')[-4:].strip('()')


rm_county(subset['display_name'][0])

'AK'

In [8]:
# Will result in a warning but no error

subset['county'] = subset['display_name'].apply(rm_state)
subset['state'] = subset['display_name'].apply(rm_county)

C:\Users\James B\Anaconda3\envs\Juxta\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
subset.head()

             display_name  Value          county state
0  "Aleutians East, (AK)"   -1.0  Aleutians East    AK
1  "Aleutians West, (AK)"   -1.0  Aleutians West    AK
2       "Anchorage, (AK)"  125.4       Anchorage    AK
3          "Bethel, (AK)"  191.4          Bethel    AK
4     "Bristol Bay, (AK)"   -1.0     Bristol Bay    AK

In [10]:
# Show the dispersion of data for Heart Disease deaths

subset['Value'].describe()

count    3226.000000
mean      177.082238
std        63.318414
min        -1.000000
25%       146.825000
50%       176.050000
75%       210.700000
max       515.400000
Name: Value, dtype: float64

In [11]:
# We are going to replace -1 with 0 as it represents insufficient data
subset['Value'] = subset['Value'].replace(-1, 0)
subset.head()

             display_name  Value          county state
0  "Aleutians East, (AK)"    0.0  Aleutians East    AK
1  "Aleutians West, (AK)"    0.0  Aleutians West    AK
2       "Anchorage, (AK)"  125.4       Anchorage    AK
3          "Bethel, (AK)"  191.4          Bethel    AK
4     "Bristol Bay, (AK)"    0.0     Bristol Bay    AK

In [12]:
# Check special circumstance for Washington, DC

subset[subset['county'].str.contains("Dis")]

                      display_name  Value                county state
2783  "District of Columbia, (DC)"  195.7  District of Columbia    DC

In [13]:
# Take one more subset and write to a CSV (Uncomment to creat)

final = subset[['Value', 'county', 'state']]
final.head()
# final.to_csv('heart_disease_data.csv', index=False)

   Value          county state
0    0.0  Aleutians East    AK
1    0.0  Aleutians West    AK
2  125.4       Anchorage    AK
3  191.4          Bethel    AK
4    0.0     Bristol Bay    AK

In [14]:
# Import this module to work with city/county/state data

import geonamescache

In [15]:
dir(geonamescache)

['GeonamesCache',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__version__',
 'geonamesdata',
 'json',
 'os']

In [16]:
help(geonamescache)

Help on package geonamescache:

NAME
    geonamescache

DESCRIPTION
    geonamescache
    =============

    :copyright: (c) 2018 by Ramiro Gómez.
    :license: ISC, see LICENSE for more details.

PACKAGE CONTENTS
    geonamesdata
    mappers
    mappings

CLASSES
    builtins.object
        GeonamesCache

    class GeonamesCache(builtins.object)
     |  Methods defined here:
     |
     |  get_cities(self)
     |      Get a dictionary of cities keyed by geonameid.
     |
     |  get_cities_by_name(self, name)
     |      Get a list of city dictionaries with the given name.
     |
     |      City names cannot be used as keys, as they are not unique.
     |
     |  get_continents(self)
     |
     |  get_countries(self)
     |
     |  get_countries_by_names(self)
     |
     |  get_dataset_by_key(self, dataset, key)
     |
     |  get_us_counties(self)
     |
     |  get_us_states(self)
     |
     |  get_us_states_by_names(self)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  cities = None
     |
     |  cities_by_names = {}
     |
     |  cities_items = None
     |
     |  continents = None
     |
     |  countries = None
     |
     |  datadir = r'C:\Users\James B\Anaconda3\envs\Juxta\lib\site-packages\ge...
     |
     |  us_counties = None
     |
     |  us_states = {'AK': {'code': 'AK', 'fips': '02', 'geonameid': 5879092, ...

DATA
    __license__ = 'MIT'
    __title__ = 'geonamescache'

VERSION
    1.1.0

AUTHOR
    Ramiro Gómez

FILE
    c:\users\james b\anaconda3\envs\juxta\lib\site-packages\geonamescache\__init__.py

In [17]:
dir(geonamescache.geonamesdata)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'us_states']

In [18]:
state_list = list(geonamescache.geonamesdata.us_states.keys())

In [19]:
list(geonamescache.geonamesdata.us_states.values())[0]

{'code': 'AK', 'name': 'Alaska', 'fips': '02', 'geonameid': 5879092}

In [36]:
print(dir(geonamescache.GeonamesCache()))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_load_data', 'cities', 'cities_by_names', 'cities_items', 'continents', 'countries', 'datadir', 'get_cities', 'get_cities_by_name', 'get_continents', 'get_countries', 'get_countries_by_names', 'get_dataset_by_key', 'get_us_counties', 'get_us_states', 'get_us_states_by_names', 'us_counties', 'us_states']

In [21]:
gc = geonamescache.GeonamesCache()
c = gc.get_cities()

cities = [c[key]['name'] for key in list(c.keys())
          if c[key]['countrycode'] == 'US']
state = [c[key]['admin1code'] for key in list(c.keys())
         if c[key]['countrycode'] == 'US']

In [22]:
# Print an example of the dict object

print(c['3041563'])

{'geonameid': 3041563, 'name': 'Andorra la Vella', 'latitude': 42.50779, 'longitude': 1.52109, 'countrycode': 'AD', 'population': 20430, 'timezone': 'Europe/Andorra', 'admin1code': '07'}

In [23]:
# Create a DataFrame of cities and states

city_state = pd.DataFrame({"city": cities, "state": state})
city_state.head()

           city state
0     Fort Hunt    VA
1      Bessemer    AL
2       Paducah    KY
3    Birmingham    AL
4  Center Point    AL

In [24]:
# Do the same for counties

county_names = []
for name in gc.get_us_counties():
    county_names.append(name['name'][:-7])

county_states = []
for state in gc.get_us_counties():
    county_states.append(state['state'])

In [25]:
county_state = pd.DataFrame({"county": county_names, "state": county_states})
county_state.head()

    county state
0  Baldwin    AL
1  Barbour    AL
2     Bibb    AL
3   Blount    AL
4  Bullock    AL

In [26]:
# Checking if the lengths match

print(len(cities), len(county_names), len(county_states))

3249 3234 3234

In [27]:
assert(len(county_names) == len(county_states))

In [28]:
print(sorted(county_state['state'].unique()))

['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UM', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY']

In [29]:
# While these locations are valid US territories and entities, it
# is best to stick to the contiguous 50 states + DC for this project

not_cont_state = ['AS', 'GU', 'MP', 'PR', 'UM']

In [30]:
# There may be a better way to write this by removing instances where
# an observation is found in the list not_cont_state

county_state_cleaned = county_state[(county_state['state'] != 'AS') |
                                    (county_state['state'] != 'GU') |
                                    (county_state['state'] != 'MP') |
                                    (county_state['state'] != 'PR') |
                                    (county_state['state'] != 'UM')]

In [31]:
print(city_state.shape, county_state_cleaned.shape, final.shape)

(3249, 2) (3234, 2) (3226, 3)

In [32]:
# Do an inner merge with the cleaned county and city DataFrames

city_county_merged = county_state_cleaned.merge(city_state, on='state')
city_county_merged.head()

    county state          city
0  Baldwin    AL      Bessemer
1  Baldwin    AL    Birmingham
2  Baldwin    AL  Center Point
3  Baldwin    AL       Cullman
4  Baldwin    AL        Daphne

In [33]:
# Merge the cleaned heart_disease data with the county/city/state data


final_merged = final.merge(city_county_merged, on=['county', 'state'])
final_merged.head()

   Value   county state          city
0  112.2  Alameda    CA      Fillmore
1  112.2  Alameda    CA      Adelanto
2  112.2  Alameda    CA        Agoura
3  112.2  Alameda    CA  Agoura Hills
4  112.2  Alameda    CA       Alameda

In [34]:
# Check for null values

final_merged.isna().sum()

Value     0
county    0
state     0
city      0
dtype: int64

In [35]:
# Uncomment this code to create a CSV file

# final_merged.to_csv('city_county_state.csv')